{% load static %}
<div class="widget">
    <h3>Categories</h3>
    <ul class="nav">
      <li><a href="#">Sports <span class="badge pull-right">7</span></a></li>
      <li><a href="#">Politics <span class="badge pull-right">10</span></a></li>
      <li><a href="#">Entertainment <span class="badge pull-right">5</span></a></li>
      <li><a href="#">User <span class="badge pull-right">4</span></a></li>
      <li><a href="#">Login <span class="badge pull-right">5</span></a></li>
      <li><a href="#">Log Out <span class="badge pull-right">6</span></a></li>
    </ul>
  </div>